.hakkimizda {
    .container-fluid:nth-of-type(1) {
        background-color: $dark-blue;
    
        h2 {
            padding: 25px 0 20px 0;
            font-size: 21px;
            font-weight: 500;
            letter-spacing: -0.63px;
            line-height: 23px;
            color: white;
        }
    }
    .container-fluid:nth-of-type(2) {
            border-bottom: 1px solid $border-black;
            margin-bottom: 1rem;
        
            ol {
                padding-top: 18px;

                .breadcrumb-item.active {
                    color: $black;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 21px;  
                }
                a {
                    color: $grey;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 21px;
        
                    &:hover {
                        color: $light-blue;
                    }                   
                }
            }
        }

        .design-container:nth-of-type(3) {
            margin-bottom: 5rem;
            padding-bottom: 5rem;

            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            img {
                width: 100%;
            }
            h2 {
                color: $black;
                font-size: 24px;
                font-weight: 600;
                letter-spacing: -0.6px;
                line-height: 30px;
                margin-bottom: 10px;
                margin-top: 40px;
            }

            p {
                font-family: sans-serif;
                color: $dark-grey;
                font-size: 14px;
                font-weight: 200;
                line-height:26px ;
                margin-bottom: 10px;

                a {
                    color: $light-blue;
                    font-weight: 700;
                    transition: all .4s ease;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }