header {
    .header-container {
        background-color: $light-grey;
        font-weight: 300;

        .menu-upbar {
            padding: 10px 0;

            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .header-left {
                    width: 50%;
                }

                .header-right {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                    }

                    li {
                        color: $grey;
                    }
                }

                a {
                    font-family: "Poppins";
                    font-size: 14px;
                    color: $grey;
                    line-height: 21px;
                    transition: all .5s ease;

                    &:hover {
                        color: $light-blue;
                    }

                    i {
                        font-size: 12px;
                        padding-left: 5px;
                    }
                }

                .language {
                    position: relative;
                    transition: all .5s ease;
                    padding-left: 30px;

                    &:hover div {
                        opacity: 1;
                        visibility: visible;
                        transition: all .5s ease;
                    }

                    div {
                        position: absolute;
                        background-color: white;
                        padding: 0 20px;
                        line-height: 30px;
                        transform: translate(0, 12%);
                        transition: all .4s ease;
                        opacity: 0;
                        visibility: hidden;
                        box-shadow: 2px 5px 8px $grey;

                        ul {
                            display: flex;
                            flex-direction: column;
                        }




                    }
                }

                .header-right-resp {
                    display: none;

                    .links {
                        position: relative;
                        transition: all .5s ease;

                        &:hover div {
                            opacity: 1;
                            visibility: visible;
                            transition: all .5s ease;
                        }

                        >div {
                            position: absolute;
                            background-color: white;
                            padding: 0 20px;
                            line-height: 30px;
                            transform: translate(5%, 8%);
                            transition: all .4s ease;
                            opacity: 0;
                            visibility: hidden;
                            box-shadow: 2px 5px 8px $grey;
                            z-index: 99;
                            right: 0;
                            width: 235px;



                        }

                        .language-resp {
                            position: relative;
                            transition: all .5s ease;


                            &:hover div {
                                opacity: 1;
                                visibility: visible;
                                transition: all .5s ease;
                            }

                            div {
                                position: absolute;
                                background-color: white;
                                padding: 0 20px;
                                line-height: 30px;
                                transform: translate(8.5%, 0);
                                transition: all .4s ease;
                                opacity: 0;
                                visibility: hidden;
                                box-shadow: 2px 5px 8px $grey;
                                z-index: 99;
                                right: 0;
                                width: 235px;

                                ul {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .mobile-menu {
        display: none;
        width: 280px;
        height: 100vh;
        background-color: white;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;

        .cross {
            float: right;
            padding: 15px;


            i {
                font-size: 16px;
                color: $dark-grey;
                transition: all .5s ease;

                &:hover {
                    color: $light-blue;
                }
            }
        }

        h5 {
            font-size: 13px;
            font-weight: 600;
            color: $light-blue;
            line-height: 20px;
            padding: 8px 20px;
            margin-top: 80px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $light-blue;
                left: 0;
                bottom: 0;
            }
        }

        >ul {
            >li {
                border-bottom: 1px solid $border-black;
                padding: 10px 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: $dark-grey;

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &:hover span {
                        color:
                            $light-blue;
                    }

                    &:hover i {
                        color: $light-blue;
                    }

                }

                a,
                span {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 18px;
                    color: $dark-grey;
                }

                i {
                    color: $dark-grey;
                    font-size: 12px;
                }
            }


            
            .sub-menu-item {
                display: none;
                transition: all .5s ease;
                
                li {
                    padding: 0.7rem 0 0 0.9rem;
                transition: all .5s ease;

                    
                    &:hover a {
                        color: $light-blue;
                    }
                }
            }
            
            .sub-menu-open {
                display: block;
            }

        }

    }

    .main-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;

        .left-header {
            display: flex;
            align-items: center;

            .menu-bar {
                display: none;
                padding: 0 25px;

                i {
                    font-size: 25px;
                }

            }
        }


        >div {

            li {
                position: relative;
                transition: all .5s ease;

                &:hover div {
                    opacity: 1;
                    visibility: visible;
                    transition: all .5s ease;
                }

                div {
                    position: absolute;
                    z-index: 99;
                    background-color: white;
                    line-height: 30px;
                    transform: translate(-10%, 0);
                    transition: all .4s ease;
                    width: 240px;
                    padding-top: 40px;
                    opacity: 0;
                    visibility: hidden;

                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 20px 25px;
                        background-color: $light-blue;

                        a {
                            color: white;
                            font-size: 13px;
                            font-weight: 200;

                            &:hover {
                                color: white;
                            }
                        }
                    }

                    .sub-menu {
                        position: relative;

                        li {
                            width: 100%;

                            &:hover div {
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        div {
                            position: absolute;
                            transform: translate(85%, -64.2%);
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }

        a {
            color: $black;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;

            &:hover {
                color: $light-blue;
            }

            i {
                font-size: 10px;
            }

        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .right-header {
            svg {
                fill: $black;
                height: 24px;
                transition: all .5s ease;

                &:hover {
                    fill: $light-blue;

                }
            }
        }
    }

}