$pink: #c6538c;
$light-grey: #f5f6f9;
$grey: #787878;
$dark-grey:#555;
$light-blue: #3399ff;
$blue: #1d84ea;
$dark-blue: #092f87;
$black: #333;
$light-black:#464545;
$border-black:rgb(228, 228, 228);


// Source mixin
@mixin make-container($padding-x: $container-padding-x) {
    max-width: 1200px;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
  }
  
  // Usage
  .design-container {
    @include make-container(10px);
  }